<p onclick = "check()">Click me to Check for Valid Signature</p>
<p>Hash = <%= @post.postkey %></p>
<p id = "Decrypted">Decrypted Hash</p>
<p id = "Verify" onclick = "sign(3)"></p>
<p id = "Reject" onclick = "sign(5)"></p>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script language="JavaScript" type="text/javascript" src="http://localhost:3000/assets/BigInteger.self-3449fe08e0a1454ccf5a023320cd523f3180d439c1d8ccb7639807df7cdf53b4.js?body=1" ></script>
<script>
function check() {

		x = "<%=@post.studentSign%>";
		var public_key = "<%= @student.keys %>";
		var x1 = bigInt(x).modPow(bigInt("3"),bigInt(public_key));	
		var x2 = x1.toString(16);
		var y2 = x2.substring(64);
		x2 = x2.substring(0,64);
		var r1 = bigInt(y2,16).xor(bigInt(SHA256(x2),16)).toString(16);
		var message = bigInt(x2,16).xor(bigInt(SHA256(r1),16)); 
		document.getElementById("Decrypted").innerHTML = message.toString(16);		
	if (message.toString(16) == "<%=@post.postkey%>")
	{
			alert("Signed by <%= @student.firstname %> <%= @student.lastname%> \nValid Signature");
			document.getElementById("Verify").innerHTML = "Verify and Sign";	
			document.getElementById("Reject").innerHTML = "Reject and Sign";	
			}
		else
		alert("Unauthorised Verifier or Wrong Public Key");
		
	}

function sign(indicator) {
	var post_key = "<%= @post.postkey%>";
	var message = bigInt(post_key,16);	
	var original_message = bigInt(post_key, 16);
	var r = SHA256(bigInt.randBetween("-1e100", "1e100").toString(16));
	var g = bigInt(SHA256(r),16); 
	var x = g.xor(message).toString(16);
	var h = bigInt(SHA256(x),16);
	var y = bigInt(r,16).xor(h);
	message = new bigInt(x +""+ y.toString(16), 16).toString(16);
	var encrypted = bigInt(message,16).modPow(bigInt(localStorage.getItem("<%=@teacher.email%>"+"d")),bigInt(localStorage.getItem("<%=@teacher.email%>"+"n")));
	var data = {id: <%=@teacher.id%>, id2: <%= @post.id %>, signature: encrypted.toString()};
	
	if (indicator == 3)
	{
		alert("Post Verified");
		$.ajax({
            url: '/verified/new',
            type: 'POST',
			data: data
            });
	}
	else 
	{
		alert("Post Rejected");
		$.ajax({
            url: '/rejected/new',
            type: 'POST',
			data: data
            });
	}

}

</script>

