<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @student.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @student.lastname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<p>
  <strong>School:</strong>
  <%= School.find(@student.school).name %>
</p>

<form method="post" action="/my_posts_student" class="inline">
  <input type="hidden" name="id" value="<%=@student.id%>">
  <button type="submit" name="submit" value="Back" class="link-button">My Posts</button>
</form>
<p onclick = "logout()"><%= link_to 'Log Out', studentlogout_url %></p>

<script>

	function logout()
	{
		sessionStorage.clear();
	}
</script>

