<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @student.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @student.lastname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<p>
  <strong>School:</strong>
  <%= School.find(@student.school).name %>
</p>

<%= link_to 'Posts', post_path(@student) %>
<p onclick = "logout()"><%= link_to 'Log Out', studentlogout_url %></p>

<script>
	function logout()
	{
		sessionStorage.clear();
	}
</script>

