<h1>New Post</h1>

Category:
<select id = "category" onchange = "populate('category', 'subcategory')">
	<option value = "" selected disabled hidden>Choose One</option>
	<% @category.each do |cat| %>
		<option value = "<%=cat.id%>"  ><%= cat.name %></option>
	<%end%>
</select>

<div id = "subcategorys" hidden>
Subcategory :
<select id = "subcategory" onchange = "show_previous_bysub('category', 'subcategory')">		
</select>
</div>
<br>
<div id = "Related_Posts" hidden>
Related Posts:
<table id="Related">
</table>
</div>
<br>
<textarea rows="4" cols="50" id = "data">
Data</textarea>
<p onclick = "pass_data()">Sign and Post</p>

<%= link_to 'Back', teacher_post_path(session[:user_id]) %>


<script>
	alert = function(){};

	function populate(l1, l2)
	{
		document.getElementById("Related_Posts").style.display = "none";
		l1 = document.getElementById(l1);
		l2 = document.getElementById(l2);
		
		
		l2.options.length = 0
		var option = document.createElement("option");
		option.value = "-1";
		option.innerHTML = "Choose One";
		option.disabled = true;
		option.selected = true;
		option.hidden = true;
		l2.options.add(option);

		$.ajax({
            	url: '/give_subcat_teacher_posts/',
            	type: 'POST',
				data: {id: l1.value},
				async: false,
				success: function (data_returned_by_server) {
					data_returned = data_returned_by_server
					if (data_returned.subs1.length != 0)
					{
						document.getElementById("subcategorys").style.display = "block";
						for (var i = 0; i < data_returned.subs1.length; i++)
						{
							var option = document.createElement("option");
							option.value = data_returned.subs_id1[i].toString(10);
							option.innerHTML = data_returned.subs1[i];	
							l2.options.add(option);
						}
					}
					else
					{
						document.getElementById("subcategorys").style.display = "none";
					}
					}        
			});
		
	
	}
	
	
	function show_previous_bysub(l1, l2)
	{
		l1 = document.getElementById(l1);
		l2 = document.getElementById(l2);

		
		$.ajax({
            	url: '/give_teacher_posts_bysub',
            	type: 'POST',
				data: {id: "<%=@teacher.id%>", l1: l1.value, l2: parseInt(l2.value,10)},
				async: false,
				success: function (data_returned_by_server) {
					data_returned2 = data_returned_by_server;				
				}
			
		});
		if (data_returned2.length != 0)
		{
			document.getElementById("Related_Posts").style.display = "block";
			
		}
		else
		{
			document.getElementById("Related_Posts").style.display = "none";
		}
		var table = document.getElementById("Related");
		table.innerHTML = ""
		for (var i = 0; i < data_returned2.length; i++)
		{
			var row = table.insertRow(-1);
			var cell1 = row.insertCell(0);
  			var cell2 = row.insertCell(1);
  			var cell3 = row.insertCell(2);
  			var search_num = data_returned2[i].subcategory
  			var index = 0
  			for (var j = 0; j < data_returned.subs_id1.length; j++)
  			{
  				if (data_returned.subs_id1[j] == search_num)
  				{
  					index = j;
  					break;
  				}
  			}
  			
  			arr = ["", "Unposted", "Unverified", "Verified", "Flagged", "Rejected"];
  			data_returned3 = data_returned2[i];
  			cell1.innerHTML = data_returned.subs1[index];
  			cell2.innerHTML = reveal(data_returned2[i].id, 1);
  			cell3.innerHTML = arr[data_returned3.status];
  			
		}
		
	}





	function pass_data()
	{
		var category = document.getElementById("category").value;
		var subcategory = document.getElementById("subcategory").value;
		var data_passed = document.getElementById("data").value;
		var random_number = generate_random_number(100001);
		
		var post_key = SHA256("<%= @teacher.id %>" + " " + data_passed + " " + category +  " " + subcategory + random_number);
		
		while (post_key[0] == '0')
		{
			var random_number = generate_random_number(100001);
			var post_key = SHA256("<%= @teacher.id %>" + " " + data_passed + " " + category +  " " + subcategory + random_number);
		}
		 
		
		var encrypted = RSA_Sign(post_key, "<%= @teacher.email%>");
		
		var key = bigInt.randBetween(0, "1e1000");
		key = key.toString(16);
		key = SHA256(key);
		
		data = cryptico.encryptAESCBC(data_passed, key);
		
		coordinates = give_polynomial(secret_sharing_k, secret_sharing_n, bigInt(key, 16).toString(10));
		data1 = coordinates[0];
		data2 = coordinates[1];
		data3 = coordinates[2];
		data4 = coordinates[3];
		data5 = coordinates[4];
		
		var data_to_sent = {teacher_id: "<%=@teacher.id%>", category: category, subcategory: subcategory, data: data, status: 2, postkey: post_key, teacherSign: encrypted, data1: data1, data2: data2, data3: data3, data4: data4, data5: data5 }; 
		$.ajax({
            	url: '/teacher_posts',
            	type: 'POST',
				data: data_to_sent,
				});
		alert ("Success");
	}
	

	
</script>

