<p id="notice"><%= notice %></p>

<h1>Teacher Posts</h1>

<table>
	<% @teachers.each do |teacher| %>
	<tr><td><h4><%=teacher.firstname%></h4></td> <td><h4><%=teacher.lastname%></h4></td></tr>
		<% posts = TeacherPost.where(teacher_id: teacher.id, status: 2)%>
		<% if posts.length == 0 %>
			<td>No Posts</td>
		<%else%>
		<% posts.each do |post| %>
		<%category = Category.find(post.category).name%>
		<tr><td><%= category%></td>
		<% case post.category %>
			<%when 2%>
				<%subcategory = Profile.find(post.subcategory).name %>
			<% else %>
				<%subcategory = nil %>
		<%end%>
		<td><%= subcategory %></td>
		<td><%= post.data %> </td>
		<td><%= link_to 'Check', checker_path(@school.id, post.id, 2, 2) %></td>
		</tr>
		
		<% end %>
		<tr height = 20px></tr>
		<td>--------</td>
		<tr height = 20px></tr>
		<%end%>
	<%end%>
	<%= link_to "Back", school_path(@school) %>
</table>
