<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @teacher.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @teacher.lastname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @teacher.email %>
</p>

<p>
  <strong>School:</strong>
  <%= @teacher.school %>
</p>

<p>
  	<strong>Public Key:</strong>
  	<%= @teacher.keys %>
</p>	
<p>
<h3>My Students</h3>
<% @students.each do |s| %>
<%= s.firstname %> <%= s.lastname =%><br> 
<% end %>
</p>
<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'My Posts', teacher_post_path(@teacher) %> |
<%= link_to 'Student Posts', teacher_view_student_post_path(@teacher) %>

<p onclick = "logout()"><%= link_to 'Log Out', teacherlogout_url %></p>

<script>
	function logout()
	{
		sessionStorage.clear();
	}

</script>

