<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @teacher.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @teacher.lastname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @teacher.email %>
</p>

<p>
  <strong>School:</strong>
  <%= @teacher.school %>
</p>

<p>
  	<strong>Public Key:</strong>
  	<%= @teacher.keys %>
</p>	
<p>

<h3>My Students</h3>
<table>
<% @students.each do |s| %>
<tr><td><%= s.firstname %></td> <td><%= s.lastname =%></td><td ><%= button_to 'View Posts', show_student_posts_url(id: @teacher, stud_id: s.id), method: :post %></td></tr>
<% end %>
</table>
</p>
<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'My Posts', teacher_post_path(@teacher) %> |


<p onclick = "logout()"><%= link_to 'Log Out', teacherlogout_url %></p>

<script>
	function logout()
	{
		sessionStorage.clear();
	}
	
</script>

