<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @teacher.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @teacher.lastname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @teacher.email %>
</p>

<p>
  <strong>School:</strong>
  <%= School.find(@teacher.school).name %>
</p>

<p>

<h3>My Students</h3>
<table>
<% @students.each do |s| %>
<tr><td><%= s.firstname %></td> <td><%= s.lastname %></td>
<% if TeacherPost.where(teacher_id: @teacher.id, category: 1, status: 3).length != 0 %>
<td><form method="post" action="/show_student_posts_teacher" class="inline">
  <input type="hidden" name="stud_id" value="<%=s.id%>">
  <input type="hidden" name="id" value="<%=@teacher.id%>">
  <button type="submit" name="submit" value="Show" class="link-button">View Posts</button>
</form></td>
<%end%>
</tr>

<% end %>
</table>
</p>

<form method="post" action="/my_posts_teacher" class="inline">
  <input type="hidden" name="id" value="<%=@teacher.id%>">
  <button type="submit" name="submit" value="View" class="link-button">My Posts</button>
</form>
<p onclick = "logout()"><%= link_to 'Log Out', teacherlogout_url %></p>

<script>
	function logout()
	{
		sessionStorage.clear();
	}
	
</script>

