<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @school.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @school.email %>
</p>

<h3>My Teachers</h3>
<% @teachers.each do |t| %>
<%= t.firstname %> <%= t.lastname =%> <br> 
<% end %>


<h3>My Students</h3>
<% @students.each do |s| %>
<%= s.firstname %> <%= s.lastname =%><br> 
<% end %>

<br>
<% if @school.keys %>
  	<strong>Public Key:</strong>
  	<%= @school.keys %>
	
	<%else%>
<p onclick = "giveKey()" >
<strong>Generate Key:</strong>
	<p id = "Public Key"></p>
</p>
	
<%end%>

<%= link_to 'Edit', edit_school_path(@school) %> |
<%= link_to 'Back', schools_path %> |
<%= link_to 'Student Posts', school_view_student_post_path(@school) %> |
<%= link_to 'Teacher Posts', school_view_teacher_post_path(@school) %>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script language="JavaScript" type="text/javascript" src="http://localhost:3000/assets/rsa.self-9c9e3db64700d9507544d0cf380a7b7d5e9cefdbc643749ba25cf8324ec23525.js?body=1"></script>
<script>
function giveKey() {
	var key = cryptico.generateRSAKey("<%= @school.email%>", 1024);
	document.getElementById("Public Key").innerHTML = key.n.toString();
	localStorage.setItem("<%= @school.email%>"+"d", key.d);
	localStorage.getItem("<%=@school.email%>"+"n")
	$.ajax({
            url: '/set_key_school',
            type: 'POST',
            dataType: 'json',
			data: {id: <%=@school.id%>, Key: localStorage.getItem("<%=@school.email%>"+"n")}
            });
	
}
</script> 