<p id="notice"><%= notice %></p>

<h1>Student Posts</h1>

<table>
	<% header = "Related: " %>
	<% @students.each do |student| %>
	<tr><td><h4><%=student.firstname%></h4></td> <td><h4><%=student.lastname%></h4></td></tr>
		<% posts = Post.where(stud_id: student.id, status: 2)%>
		<% if posts.length == 0 %>
			<td>No Posts</td>
	
		<%else%>
		<% posts.each do |post| %>
		<%category = Category.find(post.category).name%>
		<tr><td><%= category%></td>
		<% case post.category %>
			<%when 2%>
				<%subcategory = Profile.find(post.subcategory).name %>
			<%when 3%>
				<td><%=Type.find(post.types1).name%></td>
				<%subcategory = Family.find(post.subcategory).name %>
			<%when 4%>
				<%subcategory = Education.find(post.subcategory).name %>
			<%when  5 %>
				<td><%=TType.find(post.types1).name%></td>
				<%subcategory = Testing.find(post.subcategory).name %>
			<% when 6 %>
				<td><%=AType.find(post.types1).name%></td>
				<%subcategory = Activity.find(post.subcategory).name %>
			<% else %>
				<%subcategory = nil %>
		<%end%>
		<td><%= subcategory %></td>
		<td onclick = "reveal(<%=post.id%>)">Click to View Data</td>
		<td><%= link_to 'Check', checker_path(@school.id, post.id, 1, 2) %></td>
		</tr>
		<% if post.types1 %>
			<% related_posts = Post.where(stud_id: student.id, category: post.category, status: [2,3,4], types1: post.types1)%>
			<%if related_posts.length != 0 %>
				<td><h5><%= header %></h5></td>
				<% related_posts.each do |relpost|%>
				<% if relpost.data != post.data%>
				<tr><td></td>
				<% case post.category %>
				<%when 2%>
					<%subcategory = Profile.find(post.subcategory).name %>
				<%when 3%>
					<%subcategory = Family.find(post.subcategory).name %>
				<%when 4%>
					<%relsubcategory = Education.find(relpost.subcategory).name %>
				<%when  5 %>
					<%relsubcategory = Testing.find(relpost.subcategory).name %>
				<% when 6 %>
					<%relsubcategory = Activity.find(relpost.subcategory).name %>
				<% else %>
					<%relsubcategory = nil %>
				<%end%>
				<td><%= relsubcategory%></td>
				<td onclick = "reveal(<%=relpost.id%>)">Click to View Data</td>
				<td><%= @status.find(relpost.status).name %></td>
				</tr>
				
				<%end%>
			<% end %>

		<%end%>
		<% end %>
		<tr height = 20px></tr>
		<td>--------</td>
		<tr height = 20px></tr>
		<%end%>
	<%end%>
	<%end%>
	<%= link_to "Back", school_path(@school) %>
</table>
<script>

alert = function(){};

function reveal(a)
{
	var data_returned;
	var data_to_sent = {post_id: a, type: 1};
		$.ajax({
            	url: '/give_numbers',
            	type: 'POST',
            	datatype: 'text',
				data: data_to_sent,
				async: false,
				success: function (data_returned_by_server) {
				
				data_returned = data_returned_by_server;
            	
        		},
        		error: function (result) {
            		console.log('error');
        		}
			
            });
            
            var i;
            var sum = 0;
            for (i = 1; i < 6; i++)
            {
            	sum += data_returned[i];
            }
            
            confirm(cryptico.decryptAESCBC(data_returned[0], SHA256(sum.toString(16))));            
				
	
}
</script>
