<p id="notice"><%= notice %></p>

<h1>Student Posts</h1>

<table id = "Students">
	
	
	
</table>

<bR>
<br>
<table id = "Posts">

</table>
<br>
<Br>

<%= link_to "Back", school_path(@school) %>
<script>

alert = function(){};
window.onload = give_all_posts();
var data_returned, data_returned2, categories;

function give_all_posts(e)
{
	var table = document.getElementById("Posts");
	table.innerHTML = ""
	var data_returned1;
	arr = ["", "Unposted", "Unverified", "Verified", "Flagged", "Rejected"];
	
	
	
	$.ajax({
		url:'/give_categories',
		type: 'POST',
		async: false,
		success: function(data_returned_by_server){
			categories = data_returned_by_server
		}	
	});
		
	
        	
    	var table = document.getElementById("Posts");
    	var row = table.insertRow(-1);
		var cell1 = row.insertCell(0);
		var row = table.insertRow(-1);
		var cell1 = row.insertCell(0);
		var row = table.insertRow(-1);
		var cell1 = row.insertCell(0);
		var row = table.insertRow(-1);
		var cell1 = row.insertCell(0);
  		var cell2 = row.insertCell(1);
  		var cell3 = row.insertCell(2);
  		var cell4 = row.insertCell(3);
  		cell1.innerHTML = "<%= @students.firstname %>";
  		cell2.innerHTML = "<%= @students.lastname %>";
  		
  		$.ajax({
            	url: '/give_post_data',
            	type: 'POST',
            	datatype: 'text',
				data: {stud_id: "<%= @students.id %>", type: 3},
				async: false,
				success: function (data_returned_by_server) {
				
				data_returned1 = data_returned_by_server;
            	
        		}
        	});
        
    
    	if (data_returned1.length == 0)
    	{	
    		cell4.innerHTML = "No Data Posted";
    	}
    	else
    	{
    		var j = 0, k = 0;
    		for (j = 0; j < 8; j++)
    		{
    			var flag = 0;
    			$.ajax({
            				url: '/give_subcat_posts/',
            				type: 'POST',
							data: {id: (j+1)},
							async: false,
							success: function (data_returned_by_server) {
								data_returned2 = data_returned_by_server
							}
						});
				if (data_returned2.types1.length != 0) 
				{
					var l = 0;
					for (l = 0; l < data_returned2.types1.length; l++)
					{ 
						var flag1 = 0;
    					for (k = 0; k < data_returned1.length; k++)
    					{	
    					
    						if (data_returned1[k].category == categories[j].id) 
    						{						
    							
								if (flag == 0)
								{
									var row = table.insertRow(-1);
									var cell1 = row.insertCell(0);
    								cell1.innerHTML = " ------- "; 
    								var row = table.insertRow(-1);	
    									
    								
    													
									var cell1 = row.insertCell(0);
									var cell2 = row.insertCell(1);
									var cell3 = row.insertCell(2);
									var cell4 = row.insertCell(3);
									var cell5 = row.insertCell(4);
									var cell6 = row.insertCell(5);
									var cell7 = row.insertCell(6);
									cell1.innerHTML = categories[data_returned1[k].category - 1].name
								}	
								
						
						
								if (data_returned2.types_id1[l] == data_returned1[k].types1)
								{
									if (flag == 1)
									{
										if (flag1 == 0)
										{
											var row = table.insertRow(-1);
											var row = table.insertRow(-1);
											var cell1 = row.insertCell(0);
											var cell2 = row.insertCell(1);
											var cell3 = row.insertCell(2);
											var cell4 = row.insertCell(3);
											var cell5 = row.insertCell(4);
											var cell6 = row.insertCell(5);
											var cell7 = row.insertCell(6);
											cell2.innerHTML = data_returned2.types1[data_returned2.types_id1.indexOf(data_returned1[k].types1)]
											
										}
										else
										{
											var row = table.insertRow(-1);
											var cell1 = row.insertCell(0);
											var cell2 = row.insertCell(1);
											var cell3 = row.insertCell(2);
											var cell4 = row.insertCell(3);
											var cell5 = row.insertCell(4);
											var cell6 = row.insertCell(5);
											var cell7 = row.insertCell(6);
										}
									}
									else
									{	
										cell2.innerHTML = data_returned2.types1[data_returned2.types_id1.indexOf(data_returned1[k].types1)]
									}
									flag = 1;
									flag1 = 1;
									
									cell3.innerHTML = data_returned2.subs1[data_returned2.subs_id1.indexOf(data_returned1[k].subcategory)]
									cell4.innerHTML = reveal(data_returned1[k].id, 1);
									cell5.innerHTML = arr[data_returned1[k].status ];
									if (data_returned1[k].status == 2)
									{
										if (signer(data_returned1[k]))
										{
											cell6.id = data_returned1[k].id;
											cell6.name = data_returned1[k].postkey;
											cell6.onclick = function(){sign(this, 3)};
											cell6.innerHTML = "Verify";		
											cell7.id = data_returned1[k].id;	
											cell7.name = data_returned1[k].postkey;				
											cell7.onclick = function(){sign(this, 5)};	
											cell7.innerHTML = "Reject";
										}
									}
								}
						
								
						
							}
    					}
    				}
    			}
    			
    			else if (data_returned2.subs1.length != 0)
    			{
    				var l = 0;
					for (l = 0; l < data_returned2.subs1.length; l++)
					{ 
						var flag1 = 0;
    					for (k = 0; k < data_returned1.length; k++)
    					{	
    					
    						if (data_returned1[k].category == categories[j].id) 
    						{						
    							
								if (flag == 0)
								{
									var row = table.insertRow(-1);
									var cell1 = row.insertCell(0);
    								cell1.innerHTML = " ------- "; 
    								var row = table.insertRow(-1);								
									var cell1 = row.insertCell(0);
									var cell2 = row.insertCell(1);
									var cell3 = row.insertCell(2);
									var cell4 = row.insertCell(3);
									var cell5 = row.insertCell(4);
									var cell6 = row.insertCell(5);
									var cell7 = row.insertCell(6);
									cell1.innerHTML = categories[data_returned1[k].category - 1].name
								}	
								
						
						
								if (data_returned2.subs_id1[l] == data_returned1[k].subcategory)
								{
									if (flag == 1)
									{
											var row = table.insertRow(-1);
											var row = table.insertRow(-1);
											var cell1 = row.insertCell(0);
											var cell2 = row.insertCell(1);
											var cell3 = row.insertCell(2);
											var cell4 = row.insertCell(3);
											var cell5 = row.insertCell(4);
											var cell6 = row.insertCell(5);
											var cell7 = row.insertCell(6);
											cell2.innerHTML = data_returned2.subs1[data_returned2.subs_id1.indexOf(data_returned1[k].subcategory)]
											
									}
									else
									{	
										cell2.innerHTML = data_returned2.subs1[data_returned2.subs_id1.indexOf(data_returned1[k].subcategory)]
									}
									flag = 1;
									
									
									
									cell3.innerHTML = reveal(data_returned1[k].id, 1);
									cell5.innerHTML = arr[data_returned1[k].status ];
									if (data_returned1[k].status == 2)
									{
										if (signer(data_returned1[k]))
										{
											cell6.id = data_returned1[k].id;
											cell6.name = data_returned1[k].postkey;
											cell6.onclick = function(){sign(this, 3)};
											cell6.innerHTML = "Verify";		
											cell7.id = data_returned1[k].id;	
											cell7.name = data_returned1[k].postkey;				
											cell7.onclick = function(){sign(this, 5)};	
											cell7.innerHTML = "Reject";
										}
									}
								}
						
								
						
							}
    					}
    				}
    			}
    			
    			else 
    			{
    				for (k = 0; k < data_returned1.length; k++)
    					{	
    					
    						if (data_returned1[k].category == categories[j].id) 
    						{
    							var row = table.insertRow(-1);
								var cell1 = row.insertCell(0);
    							cell1.innerHTML = " ------- "; 
    							var row = table.insertRow(-1);							
								var cell1 = row.insertCell(0);
								var cell2 = row.insertCell(1);
								var cell3 = row.insertCell(2);
								var cell4 = row.insertCell(3);
								var cell5 = row.insertCell(4);
								var cell6 = row.insertCell(5);
								var cell7 = row.insertCell(6);
								cell1.innerHTML = categories[data_returned1[k].category - 1].name
								cell2.innerHTML = reveal(data_returned1[k].id, 1);
								cell5.innerHTML = arr[data_returned1[k].status ];
								if (data_returned1[k].status == 2)
									{
										if (signer(data_returned1[k]))
										{
											cell6.id = data_returned1[k].id;
											cell6.name = data_returned1[k].postkey;
											cell6.onclick = function(){sign(this, 3)};
											cell6.innerHTML = "Verify";		
											cell7.id = data_returned1[k].id;	
											cell7.name = data_returned1[k].postkey;				
											cell7.onclick = function(){sign(this, 5)};	
											cell7.innerHTML = "Reject";
										}
									}
    						}
    					}
    			}
    			
    		}
    	}
        	
}



function signer(post_details)
{

	var x = post_details.studentSign;
	$.ajax({
            url: '/give_student_public_key',
            type: 'POST',
			data: {id: post_details.stud_id},
			async: false,
			success: function (data_returned_by_server) {
			student = data_returned_by_server
			}
		});
	var public_key = student.keys;
	
	return RSA_Verify(post_details.postkey, public_key, x);

}

function sign(post, indicator) {
	
	var post_key = post.name;
	var encrypted = RSA_Sign(post_key, "<%= @school.email %>");
	var data = {id: "<%= @school.id %>",key: "<%=@school.keys%>", id2: post.id, signature: encrypted, status: indicator, id3: 1, id4: 2};

	
	$.ajax({
            url: '/signed',
            type: 'POST',
			data: data
            });
	give_all_posts();
}

</script>
