<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<% if @type %>
	<div class="field">
    	<%= form.label :type %>
    	<%= form.select :types1, @type.collect {|x| [x.name,x.id]}, {:include_blank => 'Select One'}%>
  	</div>
<% end %>
  <%= form.hidden_field :stud_id, value: session[:user_id] %>
  <%= form.hidden_field :category, value: @category_id.to_i %>
<% if @subcategory %>
	<div class="field">
    	<%= form.label :subcategory %>
    	<%= form.select :subcategory, @subcategory.collect {|x| [x.name,x.id]}, {:include_blank => 'Select One'}%>
  	</div>
<% end %>


  <div class="field">
    <%= form.label :data %>
    <%= form.text_area :data %>
  </div>

<%= form.hidden_field :status, value: 2 %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
