<h1>New Post</h1>
<% if @type %>
	Type :
	<select id = "type">
		<% @type.each do |type| %>
			<option value = "<%=type.id%>"><%= type.name %></option>
		<%end%>
	</select>
	<%else%>
	<input type="hidden" id="type" value="-1">
<%end%>
<br>
<% if @subcategory %>
	Subcategory :
	<select id = "subcategory">
		<% @subcategory.each do |sc| %>
			<option value = "<%=sc.id%>"><%= sc.name %></option>
		<%end%>
	</select>
<% end %>
<br>
<textarea rows="4" cols="50" id = "data">
Data</textarea>
<p onclick = "pass_data()">Sign and Post</p>

<%= link_to 'Back', post_path(session[:user_id]) %>


<script>
	
	alert = function() {};

	function pass_data()
	{
		var type = document.getElementById("type").value;
		var subcategory = document.getElementById("subcategory").value;
		var data_passed = document.getElementById("data").value;
		
		var random_number = generate_random_number();
		
		var post_key = SHA256("<%= @stud.id %>" + " " + data_passed + " " + "<%= @category_id.to_i %>" +  " " + subcategory + random_number);
		
		while (post_key[0] == '0')
		{
			var random_number = generate_random_number();
			var post_key = SHA256("<%= @stud.id %>" + " " + data_passed + " " + "<%= @category_id.to_i %>" +  " " + subcategory + random_number);
		}
		 
		var message = bigInt(post_key,16);	
		var r = SHA256(bigInt.randBetween("-1e100", "1e100").toString(16));
		var g = bigInt(SHA256(r),16); 
		var x = g.xor(message).toString(16);
		var h = bigInt(SHA256(x),16);
		var y = bigInt(r,16).xor(h);
		message = new bigInt(x +""+ y.toString(16), 16).toString(16);
		var encrypted = bigInt(message,16).modPow(bigInt(localStorage.getItem("<%=@stud.email%>"+"d")),bigInt(localStorage.getItem("<%=@stud.email%>"+"n"))).toString();	
		
		data1 = generate_random_number();
		data2 = generate_random_number();
		data3 = generate_random_number();
		data4 = generate_random_number();
		data5 = generate_random_number();
		
		key = data1 + data2 + data3 + data4 + data5;
		key = key.toString(16);
		key = SHA256(key);
		
		data = cryptico.encryptAESCBC(data_passed, key);
		
		
		var data_to_sent = {stud_id: "<%=@stud.id%>", category: "<%=@category_id.to_i%>", subcategory: subcategory, types1: type, data: data, status: 2, postkey: post_key, studentSign: encrypted, data1: data1, data2: data2, data3: data3, data4: data4, data5: data5 }; 
		$.ajax({
            	url: '/posts',
            	type: 'POST',
				data: data_to_sent,
				});
		confirm("Success");
	}
	
	function generate_random_number()
	{
		p = Math.floor(Math.random() * (100001));
		return p - 5000;
	}
	
</script>

