<p id="notice"><%= notice %></p>

<% @categories.each do |ca| %>
<br>

<h2><%= ca.name %></h2>
<%= link_to 'New Post', post_new_path(@stud.id,ca) %>
<br><br>
<% case ca.id %>
<% when 1%>

	<% @post = Post.where(stud_id: @stud, category: 1)%>
	<% if @post.length == 0 %>
		<%= "Not Posted" %>
	<% else%>
		<p onclick = "reveal(<%=post.id%>)">Click to View Data</p>
		<% status = Status.where(id: @post[0].status) %>
		<%= status %>
		<% if @post[0].sign_id %>
					<td><%= link_to "Check", check_path(@post[0].id, 1, @stud.id)%></td>
					<%end%>
	<%end%>

	<br><br>

<% when 2 %>
<table>
	<% @profile.each do |prof| %> 
	<tr>
		<% @post = Post.where(stud_id: @stud, category: 2, subcategory: prof.id)%>
		<td><%= prof.name %></td>
		<% if @post.length == 0 %>
			<td> <%= "Not Posted" %> </td>
		<% else %>
			<td onclick = "reveal(<%=post.id%>)">Click to View Data</td>
			<td><%= status[0].name %></td>
			<% if @post[0].sign_id %>
					<td><%= link_to "Check", check_path(@post[0].id, 1, @stud.id)%></td>
					<%end%>
		<% end %>
			</tr>
			<% end %>
			
		</table>
			<br><br>

<% when 3 %>
	<% @type.each do |ty| %>
	
		<br><h4><%= ty.name %></h4>
		<table>
		<% @family.each do |fam| %> 
		<tr>
			<% @post = Post.where(stud_id: @stud, category: 3, subcategory: fam.id, types1: ty.id)%>
			<td><%= fam.name %></td>
			<% if @post.length == 0 %>
				<td><%= "Not Posted" %></td>
			<% else %>
				<td onclick = "reveal(<%=post.id%>)">Click to View Data</td>
				<% status = Status.where(id: @post[0].status) %>
				<td><%= status[0].name %></td>
				<% if @post[0].sign_id %>
					<td><%= link_to "Check", check_path(@post[0].id, 1, @stud.id)%></td>
					<%end%>
				<% end %>
			</tr>
		<% end %>
		</table>
	<% end %>
	<br><br>

<% when 4 %>
<table>
	<% @education.each do |edu| %> 
	<tr>
		<% @post = Post.where(stud_id: @stud, category: 4, subcategory: edu.id)%>
		<td><%= edu.name %></td>
		<% if @post.length == 0 %>
				
				<td><%= "Not Posted" %></td>
			<% else %>
				<td onclick = "reveal(<%=post.id%>)">Click to View Data</td>
				<% status = Status.where(id: @post[0].status.to_i) %>
				<td><%= status[0].name %></td>
				<% if @post[0].sign_id %>
					<td><%= link_to "Check", check_path(@post[0].id, 1, @stud.id)%></td>
					<%end%>
				<%end%> 
		 	
			<% end %>
		</tr>
			
			</table>
			<br><br>
		
<% when 5 %>
<% @testing_type.each do |ty| %>
<table>
	<% if Post.where(types1: ty,stud_id: @stud).length != 0 %>
	<br><h4><%= ty.name %></h4>

	<% @testing.each do |tes| %> 
		<tr><% @post = Post.where(stud_id: @stud, category: 5, subcategory: tes.id,types1: ty)%>
		<% if @post.length == 0 %>
		 	<td><%= tes.name %></td>
			<td><%= "Not Posted" %></td>
			
			<% else %>
				<% @post.each do |post| %>
				<tr>
					
					<td><%= tes.name %></td>
					<td onclick = "reveal(<%=post.id%>)">Click to View Data</td>
					<% status = Status.where(id: post.status) %>
					<td><%= status[0].name %></td>
					<% if post.sign_id %>
					<td><%= link_to "Check", check_path(post.id, 1, @stud.id)%></td>
					<%end%>
					</tr>
		<% end %>
		
		
			
		<% end %></tr>
		
	<% end %>
			<%elsif ty.name == "Test No. 1"%>
				<% @testing.each do |tes| %>
					<tr><td><%= tes.name%></td><td>Not Posted</td></tr>
				<% end %>
		<% end %>
			</table>
			<%end%>
<% when 6 %>
<% @activity_type.each do |ty| %>
<table>
	<% if Post.where(types1: ty,stud_id: @stud).length != 0 %>
	<br><h4><%= ty.name %></h4>

	<% @activities.each do |activ| %> 
		<tr><% @post = Post.where(stud_id: @stud, category: 6, subcategory: activ.id,types1: ty)%>
		<% if @post.length == 0 %>
		 	<td><%= activ.name %></td>
			<td><%= "Not Posted" %></td>
			
			<% else %>
				<% @post.each do |post| %>
				<tr>
					<td><%= activ.name %></td>
					<td onclick = "reveal(<%=post.id%>)">Click to View Data</td>
					<td><%= status[0].name %></td>
					<% if post.sign_id %>
					<td><%= link_to "Check", check_path(post.id, 1, @stud.id)%></td>
					<%end%>
				</tr>
		<% end %>
		
		
			
		<% end %></tr>
		
	<% end %>
			<%elsif ty.id == 1%>
				<% @activities.each do |activ| %>
					<tr><td><%= activ.name%></td><td>Not Posted</td></tr>
				<% end %>
		<% end %>
			</table>
			<%end%>
			
<% when 7%>
	<% @post = Post.where(stud_id: @stud, category: 7)%>
	<% if @post.length == 0 %>
		<%= "Not Posted" %>
	<% else%>
		<% status = Status.where(id: @post[0].status) %>
		<tr><td><%= status[0].name %></td><br></tr>
			<% if @post[0].sign_id %>
					<td><%= link_to "Check", check_path(@post[0].id, 1, @stud.id)%></td>
					<%end%>
		<td onclick = "reveal(<%=post.id%>)">Click to View Data</td>
		
	<%end%>
	<br><br>
	
<% else %>
<table>
	<% @other.each do |oth|%>
	<tr>
		<td onclick = "reveal(<%=post.id%>)">Click to View Data</td>
		<% status = Status.where(id: oth.status) %>
		<td><%= status[0].name %></td>
		<% if @post[0].sign_id %>
					<td><%= link_to "Check", check_path(@post[0].id, 1, @stud.id)%></td>
					<%end%>
	</tr>
	<%end%>
	</table>
	<br><br>
	
	
<% end %>
<%end%>

<%= link_to 'Back',student_path(@stud) %>


<script>

alert = function(){};

function reveal(a)
{
	var data_returned;
	var data_to_sent = {post_id: a, type: 1};
		$.ajax({
            	url: '/give_numbers',
            	type: 'POST',
            	datatype: 'text',
				data: data_to_sent,
				async: false,
				success: function (data_returned_by_server) {
				
				data_returned = data_returned_by_server;
            	
        		},
        		error: function (result) {
            		console.log('error');
        		}
			
            });
            
            var i;
            var sum = 0;
            for (i = 1; i < 6; i++)
            {
            	sum += data_returned[i];
            }
            
            confirm(cryptico.decryptAESCBC(data_returned[0], SHA256(sum.toString(16))));            
				
	
}
</script>