<!DOCTYPE html>
<html>
  <head>
    <title>Apply2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript">
        history.pushState(null, document.title, location.href);
		window.addEventListener('popstate', function (event)
		{
  			history.pushState(null, document.title, location.href);
		});
    </script>
  </head>

  <body>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<!-- 
<script language="JavaScript" type="text/javascript" src="http://localhost:3000/assets/rsa.self-9c9e3db64700d9507544d0cf380a7b7d5e9cefdbc643749ba25cf8324ec23525.js?body=1"></script>
<script language="JavaScript" type="text/javascript" src="http://localhost:3000/assets/BigInteger.self-3449fe08e0a1454ccf5a023320cd523f3180d439c1d8ccb7639807df7cdf53b4.js?body=1" ></script>
 -->
    <%= yield %>
  </body>
</html>
